.CreateContributionsForm {
  width           : 100vw;
  height          : 100vh;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background-color: rgba(0, 0, 0, 0.01);
  backdrop-filter : blur(10px);
  position        : fixed;
  top             : 0;
  left            : 0;

  &__form {
    box-sizing      : border-box;
    padding         : 50px 60px;
    width           : 450px;
    position        : relative;
    font-size       : 20px;
    color           : #fff3d6;
    display         : flex;
    flex-direction  : column;
    align-items     : flex-start;
    background-color: #3d2937;
    border          : 5px solid #714059;
    border-radius   : 30px;
  }

  &__label {
    width          : 100%;
    display        : flex;
    justify-content: space-between;

    &:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }

  &__input {
    width           : 150px;
    padding         : 5px;
    background-color: #271a23;
    border          : 2px solid #714059;
    border-radius   : 5px;
    color           : #fff3d6;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin            : 0;
    }
  }

  &__close {
    width          : 20px;
    height         : 20px;
    background     : url('../../assets/images/close.svg') no-repeat 50% 50%;
    background-size: cover;
    position       : absolute;
    top            : 15px;
    right          : 15px;
    cursor         : pointer;
    transition     : transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}