.MainView {
  margin         : 0 auto;
  padding        : calc(100vw * (800/1920)) 10vw;
  display        : flex;
  justify-content: center;
  position       : relative;
  background     : url('../../assets/images/banana-minion.png') no-repeat 50% 50px;
  background-size: 37%;

  &__temp-image {
    width     : 40vw;
    height    : 40vw;
    object-fit: cover;

    @media screen and (max-width: 600px) {
      width : 90vw;
      height: 90vw;
    }
  }

  &__title-wrapper {
    display        : flex;
    justify-content: center;
  }

  &__title {
    margin        : 0;
    font-size     : 30px;
    color         : #fff3d6;
    letter-spacing: 2px;
  }

  &__title-icon {
    margin-right   : 10px;
    width          : 40px;
    height         : 40px;
    background     : url('../../assets/images/bugle3.png') no-repeat 50% 50%;
    background-size: cover;

    &:last-of-type {
      margin-left: 7px;
      transform  : scale(-1, 1);
    }
  }

  &__players-list {
    width   : fit-content;
    height  : fit-content;
    position: relative;
    z-index : 10;

    .MainView__title {
      margin-bottom: 15px;
    }
  }

  &__banana {
    width          : 300px;
    height         : 360px;
    background     : url('../../assets/images/one-banana.png') no-repeat 50% 50%;
    background-size: cover;
    position       : absolute;

    &_one {
      top      : -30px;
      left     : -80px;
      transform: rotate(200deg);
    }

    &_two {
      top      : 350px;
      left     : -30px;
      transform: rotate(225deg);
    }

    &_three {
      top      : 240px;
      left     : -60px;
      transform: rotate(190deg);
    }

    &_four {
      top      : -10px;
      left     : -170px;
      transform: rotate(60deg);
    }

    &_five {
      top      : 460px;
      left     : -40px;
      transform: rotate(45deg);
    }

    &_six {
      top      : 350px;
      left     : -150px;
      transform: scale(-1, 1) rotate(50deg);
    }

    &_seven {
      top      : 690px;
      left     : -90px;
      transform: rotate(225deg);
    }
  }

  &__bananas-left {
    position: fixed;
    top     : 60px;
    left    : 0;
  }

  &__bananas-right {
    position : fixed;
    top      : 60px;
    right    : 0;
    transform: scale(-1, 1);
  }
}