.BuildingsView {
  margin        : 0 auto;
  padding       : 30px 0;
  max-width     : 70vw;
  display       : flex;
  flex-direction: column;
  align-items   : center;

  &__title {
    margin        : 0;
    margin-bottom : 50px;
    font-size     : 45px;
    letter-spacing: 2px;
    color         : #fff3d6;
  }

  &__list {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;

    .BuildingCard {
      margin-bottom: 60px;
      width        : 390px;

      @media screen and (max-width: 1366px) {
        width: 280px;
      }

      @media screen and (max-width: 768px) {
        width        : 100%;
        margin-bottom: 70px;
      }

      @media screen and (max-width: 600px) {
        margin-bottom: 50px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    max-width: 80vw;

    &__title {
      margin-bottom : 35px;
      font-size     : 35px;
    }
  }
}